{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
<div class="latest-products">
    <h1>Search Results for "{{ query }}"</h1>
    {% for task in tasks %}
    <div class="box">
        <figure class="image2 mb-4">
            <img src="{{ task.get_image }}" alt="{{ task.title }}">
        </figure>
        <h3 class="is-size-4">{{ task.title }}</h3>
        <p class="is-size-6 has-text-grey">Due Date: {{ task.formatted_due_date }}</p>
        <p class="is-size-6 has-text-grey">Priority: {{ task.priority }}</p>
        <p class="is-size-6 has-text-grey">Completed: {{ task.completed }}</p>
        <a href="{% url 'view-task' task.id %}" class="icon-link"><i class="fas fa-eye"></i></a>
        <a href="{% url 'update-task' task.id %}" class="icon-link"><i class="fas fa-edit"></i></a>
        <a href="{% url 'delete-task' task.id %}" class="icon-link"><i class="fas fa-trash-alt"></i></a>
    </div>
    {% endfor %}
<div>
{% endblock %}