{% extends 'base.html' %}

{% block title %}Task Details{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Task Swift</title>
</head>
<body>
    <div class="task-details">
        <div class="task-info">
            <div class="task-heading">
                <h2 class="is-size-2 has-text-centered">Task Information</h2>
            </div>
            <div class="task-details-box">
                <div class="task-image mb-4">
                    <img src="{{ task.get_image }}" alt="{{ task.title }}">
                </div>
                <div class="task-details">
                    <h3 class="is-size-4">{{ task.title }}</h3>
                    <p class="is-size-6 has-text-grey">Description: {{ task.description }}</p>
                    <p class="is-size-6 has-text-grey">Due Date: {{ task.formatted_due_date }}</p>
                    <p class="is-size-6 has-text-grey">Priority: {{ task.priority }}</p>
                    <p class="is-size-6 has-text-grey">Completed: {{ task.completed }}</p>
                    <p class="is-size-6 has-text-grey">Created At: {{ task.formatted_created_at }}</p>
                    <p class="is-size-6 has-text-grey">Updated At: {{ task.formatted_updated_at }}</p>
                </div>
            </div>            
        </div>
    </div>
</body>
</html>
{% endblock %}
